#categoryWrap {
    width: 100%;

    & .categories {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 1.5rem 0;
        margin: 0;
        list-style-type: none;

        & .category {
            background-color: var(--light-grey);
            color: var(--black);
            text-transform: uppercase;
            font-size: .9rem;
            padding: .5rem .8rem;
            border-radius: 6px;
            transition: all .2s ease-in-out;
        }
    }
}