.ingredients {
    height: max-content;
    background-color: var(--white);
    flex-basis: 100%;
    padding: 2rem;

    & .ingredient-list {
        list-style-type: none;
        padding-left: 1rem;
        margin: 0;

        & .ingredient {
            display: flex;
            padding-bottom: .9rem;
            width: max-content;
            max-width: 400px;

            & .add-ingredient {
                font-size: 1.2rem;
                color: var(--green);
                margin-right: 1rem;
                visibility: hidden;
            }

            &:hover {
                cursor: pointer;

                & .add-ingredient {
                    visibility: visible;
                }
            }
        }
    }
}

@container (min-width: 992px) {
    .ingredients {
        flex: 1 1 25%;
    }
}