#recipeGrid {
    min-height: 450px;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    column-gap: 2rem;
    row-gap: 4rem;
    margin-bottom: 4rem;
}

.no-recipes {
    width: 100%;
    min-height: 450px;
}