.recipe-card {
    background-color: var(--white);
    color: var(--black);
    
    & .recipe-img {
        width: 100%;
    }

    & .recipe-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        padding: 1rem;

        & .serving-size {
            font-size: .9rem;
            grid-area: 1 / 1 / 2 / 2;
        }

        & .cook-time {
            font-size: .9rem;
            grid-area: 1 / 2 / 2 / 3;
        }

        & .icon {
            margin-right: .5rem;
        }

        & .recipe-title {
            font-size: 1.6rem;
            flex: 0 0 100%;
            margin: 0;
            color: var(--green);
            grid-area: 2 / 1 / 3 / 3;
        }
    }


}