.recipe-card {
    background-color: var(--white);
    color: var(--black);
    
    & .recipe-img {
        width: 100%;
    }

    & .recipe-details {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        padding: 1.4rem;

        & .serving-size {
            font-size: .9rem;
        }

        & .cook-time {
            font-size: .9rem;
        }

        & .icon {
            margin-right: .5rem;
        }

        & .recipe-title {
            font-size: 1.6rem;
            line-height: 1.5rem;
            flex: 0 0 100%;
            margin-top: .6rem;
            color: var(--green);
        }
    }


}