.login-wrap {
    background-color: var(--white);
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    border-radius: 6px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    & h1 {
        margin-top: 0;
    }

    & .login-btns {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        & .sign-in {
            width: 100%;
            border: none;
            background-color: var(--green);
            color: #fff;
          }
        
        & .login-divider {
            width: 100%;
            position: relative;
            margin: 1rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & hr {
                display: block;
                width: 40%;
                height: 1px;
                margin: auto 0;
                border-color: var(--light-grey);
                color: var(--light-grey);
                opacity: .4;
            }
        }
    }
  }