.featured-image {
    width: 100%;
    min-height: 500px;
    background-color: var(--black);
    display: flex;
    align-items: flex-end;
    background-image: url(../assets/images/french-toast.webp);
    background-size: cover;
    background-position: center -50%;
}

.title {
    margin-bottom: 1rem;
}

.details {
    display: flex;
    column-gap: 2rem;
    margin-bottom: 4rem;
}

.instructions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    container-type: inline-size;
    padding-bottom: 4rem;
}