#CTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    width: 100%;
    background-image: url('../assets/images/cta_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: var(--white);

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--green);
        position: absolute;
        top: 0;
        left: 0;
        opacity: .9;
    }

    & .cta-content {
        width: 100%;
        color: var(--white);
        position: relative;
        z-index: 3;
        
        & .tagline {
            color: var(--white);
            font-size: 3.5rem;
            line-height: 3.5rem;
            font-weight: 600;
        }

        & .subtag {
            max-width: 450px;
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }

        & .cta-btn {
            background-color: #F5F5F5;
            color: var(--black);
            text-transform: uppercase;
            padding: .7rem 1rem;
            border-radius: 6px;
            font-size: .9rem;
            transition: opacity .2s ease-in-out;

            &:hover {
                opacity: .7;
            }
        }
    }

}