header {
    background-color: #fff;
    padding: 14px 0;

}

#headWrap {
    background-color: #fff;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.logo {
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black);
}

#loginLink {
    cursor: pointer;
}

.login-icon {
    margin-right: .6rem;
}