#userMenu {
    position: relative;
    padding: 10px 0;
    cursor: pointer;

    & .username {
        border: none;
        font-family: var(--secondary-font);
        background-color: var(--white);
        
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--green);
        display: block;
    }
    
    & ul {
        width: 100%;
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        list-style-type: none;
        background-color: var(--light-grey);
        padding: 10px 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 10;
        &:hover {
            display: block;
        }
        
        & li {
            cursor: pointer;

            & a {
                color: var(--green);
            }
        }
    }

    &:hover ul {
        display: block;

        & li {
            &:hover a {
                text-decoration: underline;
            }
        }
    }

}


