/* ---------- VARIABLES ---------- */
:root {
  --green: hsl(160, 100%, 19%);
  --black: #191919;
  --light-grey: #F6F6F6;
  --white: #fff;

  --primary-font: "Manrope", sans-serif;
  --secondary-font: "Judson", serif;

  --max-width: 1440px;
}


body {
  font-family: var(--primary-font);
  font-size: 16px;
  background-color: var(--light-grey);
  padding-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font);
}

h1 {
  font-size: 2.4rem;
  color: var(--green);
  margin: 3rem 0;
}

h2 {
  margin-top: 0;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--green);
  text-transform: uppercase;
  margin: 0 0 1rem;
}

a {
  color: var(--green);
  text-decoration: none;
  font-weight: 500;
  transition: all .3s ease-in-out;

  &:hover {
    color: var(--black);
  }
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

button:not(.add, .gsi-material-button) {
  background-color: var(--light-grey);
  min-width: 250px;
  padding: 1rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: all .2s ease-in-out;

  &:hover {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px, rgba(0, 0, 0, 0.05) 0px 2px 1px, rgba(0, 0, 0, 0.05) 0px 4px 2px, rgba(0, 0, 0, 0.05) 0px 8px 4px, rgba(0, 0, 0, 0.05) 0px 16px 8px;
  }
}



.form-row {

  & .form-item {

    & label:not(.sub-label) {
      padding-right: 1rem;
      display: block;
      margin-bottom: .5rem;
      text-transform: uppercase;
      font-size: .7rem;
      letter-spacing: .5px;
    }

    & input,
    & textarea {
      font-size: .9rem;
      padding: .7rem;
      margin-bottom: 2rem;
      width: 100%;
      border-radius: 3px;
      border: 1px solid #BBBBBB;
      background-color: var(--white);

      &:focus {
          outline: none !important;
          border: 1px solid var(--green);
          background-color: hsl(from var(--green) h s l / 0.1);
      }
    }
  }
}

.split-2 {
    display: flex;
    gap: 4rem;

}

input {
  background-color: transparent;
  border: 1px solid var(--green);
  
  &::placeholder {
    color: inherit;
    opacity: .2;
  }
}