/* ---------- VARIABLES ---------- */
:root {
  --green: #006241;
  --black: #191919;
  --light-grey: #F6F6F6;
  --white: #fff;

  --primary-font: "Manrope", sans-serif;
  --secondary-font: "Judson", serif;

  --max-width: 1440px;
}


body {
  font-family: var(--primary-font);
  font-size: 16px;
  background-color: var(--light-grey);
  padding-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font);
}

h1 {
  font-size: 2.4rem;
  color: var(--green);
  margin: 3rem 0;
}

h2 {
  margin-top: 0;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--green);
  text-transform: uppercase;
  margin: 0 0 1rem;
}

a {
  color: var(--green);
  text-decoration: none;
  font-weight: 500;
  transition: all .3s ease-in-out;

  &:hover {
    color: var(--black);
    font-weight: 600;
  }
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}